<form *ngIf="showAddProduct" class='add-form' (ngSubmit)='onSubmit()'>
    <div class='form-control'>
        <label for='name'>Product</label>
        <input type='text' name='name' [(ngModel)]='name' id='name' placeholder="Product Name">
    </div>
    <div class='form-control'>
        <label for='quantity'>Quantity</label>
        <input type='number' name='quantity' [(ngModel)]='quantity' id='quantity' placeholder="Quantity">
    </div>
    <div class='form-control'>
        <label for='price'>Price</label>
        <input type='number' name='price' [(ngModel)]='price' id='price' placeholder="Price">
    </div>
    <div class='form-control'>
        <label for='description'>Description</label>
        <input type='text' name='description' [(ngModel)]='description' id='description' placeholder="Description">
    </div>
    <div class='form-control'>
        <label for='image'>Image</label>
        <input type='text' name='image' [(ngModel)]='image' id='image' placeholder="Image">
    </div>
    <input type='submit' value='Add Product' class='btn btn-block'/>


</form>
